<link rel="stylesheet" href="/css/footer.css">
<main id="footer-main">
   
    <div id="sociallinks">

        <a href="mailto:hs8961524@gmail.com" id="email" target="_blank">
            <i class="fa-brands fa-google"></i>
           </a>

        <a href="https://github.com/Harshh-singh" id="github" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/harshdeep-singh-148520279/" id="linkedin" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>

       <a href="" id="instagram">
        <i class="fa-brands fa-instagram"></i>
       </a>

           
    </div>

    <h5>
        <i class="fa-regular fa-copyright"></i>
        2023
        Copyright:
        IssueTracker
    </h5>

</main>