<link rel="stylesheet" href="/css/header.css">

    <main>
        <a href="/">
            <h1>
                <i class="fa-brands fa-searchengin"></i>
                Issue Tracker
            </h1>
        </a>
       
        <div id="createprojectbtn">
            <a href="/project/create">    
                <button type="submit" id="createbtn">Create new Project
                    <i class="fa-solid fa-file-circle-plus"></i>
                </button>       
                
            
        </a>
        </div>
       
       
    </main>

