<link rel="stylesheet" href="/css/homepage.css">

<div id="homepage">
    <ul>
        <% for(let i of project_List){%>


                        <li id="projectdetails">

     <!-- by clicking on any project it will takes us to details about that project -->
                   <a href="/project/details/?id=<%=i._id%>&type=Get">
                        
                        <div id="projectname">
                            <h1>
                                <%= i.projectName%>
                            </h1>
                           
                        
        
                        <div id="authorname">
                          Author:-  <%= i.authorName%>
                        </div>

                    </a>
        
        <!-- add delete project button -->
                    <div id="deletebtn">
                        <a href="/project/deleteproject/?id=<%=i._id%>&type=Get">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                   
                    </li>

          
    
        <%}%>
    </ul>
</div>

<script src="/js/home_project.js"></script>