<link rel="stylesheet" href="/css/projectdetails.css">

<div id="projectdetails">
    <div>
        <h1>
            <%= project_details.projectName %>
        </h1>
    
        
        <%= project_details.description %>
    </div>

    
    <div id="bugs">
        <h1>
            No Bugs
            <i class="fa-solid fa-bug-slash"></i>
        </h1>
       

    </div>
   

    <div id="createissuebtn">
        <a href="/project/createissue">
            <div>
                Create Issue
                <i class="fa-solid fa-plus"></i> 
            </div>
                         

        </a>
       
    </div>
</div>
    
    
    
