#footer-main{
    display: flex;
    height: 10%;
    background-color:  #3d5a80;
    border-top: 1px solid  #bfc0c0;
    width: auto;
    color: #f4f4f4  ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}