body {
  margin: 0%;
}
body main {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 0px 15px 0px 10px;
  display: flex;
  text-align: center;
  height: 12%;
  text-align: center;
  background-color: #2b2d42;
  border-bottom: 1px solid #bfc0c0;
}
body main a {
  text-decoration: none;
  color: #ffffff;
}
body main #createbtn {
  margin: 30px 0px 5px 0px;
  height: 40px;
  border-radius: 2%;
  border: none;
}